/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


/* load type */
@charset "UTF-8";
@font-face {
  font-family: 'ObjectSans_Regular';
  src: url("fonts/ObjectSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'ObjectSans_Bold';
  src: url("fonts/ObjectSans-Bold.otf") format("opentype");
}


/*  highlight */
::selection {
  background: #FFEB44; 
}



/*  layout */

.l-main {
	max-width: 942px;
	margin: auto;
	padding: 0 40px;
	height: 100vh;
}

.l-container {
	display: flex;
}

.about-copy {
	width: 66.6%;
	padding: 0 26px;
}

.l-container-header {
	padding: 0 20px;
	margin-bottom: 16px;
}

.t-body {
	margin-bottom: 16px;
}

.resume {
	width: 33.3%;
	padding: 9px 26px;
}

.list__header {
	margin-bottom: 8px;
}
.list__item {
	margin-bottom: 16px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 140px;
	background-color: #F3F3F3;
}


@media (max-width: 840px) {
  .l-container{
    flex-direction: column;
  }

  .about-copy {
	width: auto;
	}

  .l-main {
	max-width: 942px;
	margin: auto;
	margin-bottom: 60px;
	padding: 0 20px;
	height: auto;
	}

  .resume {
	width: 50%;
	padding: 9px 26px;

	}
}

@media (max-width: 524px) {
  .about-copy {
  	padding: 0px;
  }
}


/*  Header  */

header {
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;

}

.logo {
	width:36px;

}

/*  Footer  */
.rotate {
  width: 60px;
  fill: none;
  padding: 0 20px;
  animation: rotation 8s infinite linear;
}

.gear {
	fill: #FF6C63;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*  Type */

h2 {
	font-family: "ObjectSans_Bold", helvetica;
	font-size: 22px;
	line-height: 150%;
	text-align: center;
}

.t-body {
	font-family: "ObjectSans_Regular", helvetica;
	font-size: 22px;
	line-height: 150%;
}

.list__header {
	font-family: "ObjectSans_Bold", helvetica;
	font-size: 15px;
}

.t-body-small {
	font-family: "ObjectSans_Regular", helvetica;
	font-size: 15px;
	line-height: 24px;
}

.caption {
	color: #757575;
}

span {
	font-family: "ObjectSans_Bold", helvetica;
	font-size: 16px;
	letter-spacing: 0.065em;
}


