/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


/* load type */
@charset "UTF-8";
@font-face {
  font-family: 'ObjectSans_Regular';
  src: url("fonts/ObjectSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'ObjectSans_Bold';
  src: url("fonts/ObjectSans-Bold.otf") format("opentype");
}
/*  layout */

.l-main {
	max-width: 942px;
	margin: auto;
	padding: 0 40px;
}

.l-container {
	display: flex;
}

.l-container-header {
	padding: 0 20px;
	margin-bottom: 16px;
}

.t-body {
	margin-bottom: 16px;
}

.about-copy {
	width: 66.6%;
	padding: 0 20px;
}

.resume {
	width: 33.3%;
	padding: 0 20px;
}

.list__header {
	margin-bottom: 8px;
}
.list__item {
	margin-bottom: 16px;
}



/*  Type */
h1 {
	font-family: "ObjectSans_Bold", helvetica;
	font-size: 22px;
	line-height: 130%;
}

.t-body {
	font-family: "ObjectSans_Regular", helvetica;
	font-size: 22px;
	line-height: 150%;
}

.list__header {
	font-family: "ObjectSans_Bold", helvetica;
	font-size: 16px;
}

.t-body-small {
	font-family: "ObjectSans_Regular", helvetica;
	font-size: 16px;
	line-height: 24px;
}

.caption {
	color: #757575;
}




